div.jumbotron {
background-image: url(https://data.1freewallpapers.com/detail/books-library-shelves-lighting.jpg)

}

.white{
    color:floralwhite;
}

/* a{
    color: floralwhite;
} */

/* a{
    color: blue;
} */

